.theme {
  --color-active: hsl(187, 100%, 50%);
  --color-active-hover: hsl(180, 100%, 60%);
  --color-active-pressed: hsl(162, 100%, 50%);
}

.theme_color_light {
  --color-bg-default: rgb(230, 230, 230);
  --light: 255, 255, 255;
  --shadow: 0, 0, 0;
  --light-mod: 1;
  --shadow-mod: 1;
}

.theme_color_dark {
  --color-bg-default: rgb(40, 40, 40);
  --light: 255, 255, 255;
  --shadow: 0, 0, 0;
  --light-mod: 0.08;
  --shadow-mod: 2;
}

.theme_color_blue {
  --color-bg-default: rgb(0, 2, 230);
  --light: 51, 54, 255;
  --shadow: 0, 0, 60;
  --light-mod: 0.4;
  --shadow-mod: 3;
}

.theme_color_orange {
  --color-bg-default: rgb(255, 123, 0);
  --light: 255, 200, 20;
  --shadow: 135, 38, 0;
  --light-mod: 0.4;
  --shadow-mod: 3;
}

.theme_color_studio {
  --color-bg-default: rgb(12, 24, 180);
  --shadow: 110, 0, 0;
  --light: 0, 0, 255;
  --light-mod: 0.3;
  --shadow-mod: 2.2;
}

.theme_color_lazur {
  --color-bg-default: rgb(0, 255, 242);
  --light: 203, 255, 226;
  --shadow: 153, 0, 255;
  --light-mod: 0.5;
  --shadow-mod: 3;
}

body {
  margin: 0;
  background: linear-gradient(120deg, rgba(var(--shadow), calc(0 * var(--shadow-mod))) 30%, rgba(var(--shadow), calc(0.2 * var(--shadow-mod)))), linear-gradient(var(--color-bg-default), var(--color-bg-default));
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.button {
  --button-content-color: var(--color-active);
  position: relative;
  z-index: 1;
  display: block;
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 200px;
  padding: 0;
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  background: radial-gradient(circle at 20% 20%, rgba(var(--light), calc(0.9 * var(--light-mod))) 25%, rgba(var(--shadow), calc(0.1 * var(--shadow-mod)))), linear-gradient(120deg, rgba(var(--shadow), 0.1), rgba(var(--shadow), 0.3));
  box-shadow: inset 10px 15px 40px -10px rgba(var(--light), calc(1 * var(--light-mod))), inset -20px -30px 12px -32px rgba(var(--shadow), calc(0.4 * var(--shadow-mod))), inset -20px -30px 40px -20px rgba(var(--shadow), calc(0.3 * var(--shadow-mod))), -10px -15px 16px -2px rgba(var(--light), calc(1 * var(--light-mod))), 12px 18px 12px -18px rgba(var(--shadow), calc(0.4 * var(--shadow-mod))), 13px 20px 20px -12px rgba(var(--shadow), calc(0.2 * var(--shadow-mod)));
  outline: none;
}
.button::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: -100%;
  left: -100%;
  bottom: -100%;
  right: -100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  pointer-events: none;
}
.button::after {
  content: "";
  position: absolute;
  left: 10%;
  top: 10%;
  right: 10%;
  bottom: 10%;
  border-radius: 99em;
  background: radial-gradient(circle at 80% 80%, rgba(var(--light), calc(0.9 * var(--light-mod))) 25%, rgba(var(--shadow), calc(0.28 * var(--shadow-mod))));
  opacity: 0;
  filter: blur(12px);
}
.button__play {
  --glow: 0 -3px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 41%;
  width: 8px;
  height: 44px;
  border-radius: 99em;
  background-color: rgba(var(--light), 1);
  transform-origin: 24px center;
  transform: translate(-50%, -50%) scale(1);
  filter: blur(0.4px);
  box-shadow: 0 0 0 -3px var(--button-content-color), inset -1.2px -0.8px 1px 0.8px rgba(var(--light), calc(0.6 * var(--light-mod))), inset 1.2px 0.8px 1px 0.8px rgba(var(--shadow), calc(0.16 * var(--shadow-mod))), inset 1.2px 1.2px 1px -0.8px rgba(var(--shadow), calc(0.16 * var(--shadow-mod))), inset 0 0 1px 2px rgba(var(--light), calc(0.5 * var(--light-mod))), inset 0 1px 3px 3px var(--button-content-color);
  transition: box-shadow 0.4s;
}
.button__play::before, .button__play::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 106%;
  left: 10px;
  border-radius: 99em;
  background-color: rgba(var(--light), 1);
  transition: box-shadow 0.4s;
}
.button__play::before {
  top: 0;
  transform-origin: left top;
  transform: rotate(-63deg);
  box-shadow: 0 0 0 -3px var(--button-content-color), inset 1.2px -0.8px 1px 0.8px rgba(var(--light), calc(0.6 * var(--light-mod))), inset -1.2px 0.8px 1px 0.8px rgba(var(--shadow), calc(0.16 * var(--shadow-mod))), inset 1.2px 1.2px 1px -0.8px rgba(var(--shadow), calc(0.16 * var(--shadow-mod))), inset 0 0 1px 2px rgba(var(--light), calc(0.5 * var(--light-mod))), inset 0 0px 3px 3px var(--button-content-color);
}
.button__play::after {
  bottom: 0;
  transform-origin: left bottom;
  transform: rotate(63deg);
  box-shadow: 0 0 0 -3px var(--button-content-color), inset -1.2px 0px 1px 0.8px rgba(var(--light), calc(0.6 * var(--light-mod))), inset 1.2px -1.2px 1px 0.8px rgba(var(--shadow), calc(0.16 * var(--shadow-mod))), inset 1.2px 1.2px 1px -0.8px rgba(var(--shadow), calc(0.16 * var(--shadow-mod))), inset 0 0 1px 2px rgba(var(--light), calc(0.5 * var(--light-mod))), inset 0 0px 3px 3px var(--button-content-color);
}
.button__waves {
  opacity: 0;
}
.button__waves, .button__waves::before, .button__waves::after {
  --scale: 0.7;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 99em;
  transform: translate(-50%, -50%) scale(1);
}
.button__waves::before, .button__waves::after {
  content: "";
  box-shadow: inset -14px -21px 20px -10px rgba(var(--light), calc(1 * var(--light-mod))), inset 14px 21px 20px -10px rgba(var(--shadow), calc(0.4 * var(--shadow-mod))), inset 10px 15px 20px -10px rgba(var(--light), calc(1 * var(--light-mod))), inset -20px -30px 12px -32px rgba(var(--shadow), calc(0.4 * var(--shadow-mod))), inset -20px -30px 40px -20px rgba(var(--shadow), calc(0.3 * var(--shadow-mod))), -10px -15px 16px -2px rgba(var(--light), calc(1 * var(--light-mod))), 12px 18px 12px -18px rgba(var(--shadow), calc(0.4 * var(--shadow-mod))), 13px 20px 20px -12px rgba(var(--shadow), calc(0.2 * var(--shadow-mod)));
}
.button:hover {
  --button-content-color: var(--color-active-hover);
  cursor: pointer;
}
.button:focus::after, .button:focus:hover::after {
  animation: ButtonInnerShadowAnimation 0.8s ease both;
}
.button:focus .button__play, .button:focus:hover .button__play {
  animation: PlayMainAnimation 0.8s ease;
}
.button:focus .button__play::before, .button:focus:hover .button__play::before {
  animation: PlayBeforeAnimation 0.8s ease;
}
.button:focus .button__play::after, .button:focus:hover .button__play::after {
  animation: PlayAfterAnimation 0.8s ease;
}
.button:focus .button__waves, .button:focus:hover .button__waves {
  animation: WaveMainAnimation 2s linear both;
}
.button:focus .button__waves::before, .button:focus:hover .button__waves::before {
  animation: WaveBeforeAnimation 1.1s 0.1s linear both;
}
.button:focus .button__waves::after, .button:focus:hover .button__waves::after {
  animation: WaveBeforeAnimation 0.9s 0.55s linear both;
}
.button:focus:active::after, .button:focus:active .button__play, .button:focus:active .button__play::before, .button:focus:active .button__play::after, .button:focus:active .button__waves, .button:focus:active .button__waves::before, .button:focus:active .button__waves::after, .button:focus:active:hover::after, .button:focus:active:hover .button__play, .button:focus:active:hover .button__play::before, .button:focus:active:hover .button__play::after, .button:focus:active:hover .button__waves, .button:focus:active:hover .button__waves::before, .button:focus:active:hover .button__waves::after {
  animation-name: none !important;
}

@keyframes ButtonInnerShadowAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes PlayMainAnimation {
  50% {
    --button-content-color: var(--color-active-pressed);
    transform: translate(-50%, -50%) scale(0.94);
    box-shadow: 0 0 16px -3px var(--button-content-color), inset -1.2px -0.8px 1px 0.8px rgba(var(--light), calc(0.24 * var(--light-mod))), inset 1.2px 0.8px 1px 0.8px rgba(var(--shadow), calc(0.12 * var(--shadow-mod))), inset 1.2px 1.2px 1px -0.8px rgba(var(--shadow), calc(0.12 * var(--shadow-mod))), inset 0 0 1px 2px rgba(var(--light), calc(0.5 * var(--light-mod))), inset 0 1px 3px 3px var(--button-content-color);
  }
}
@keyframes PlayBeforeAnimation {
  50% {
    box-shadow: 0 0 16px -3px var(--button-content-color), inset 1.2px -0.8px 1px 0.8px rgba(var(--light), calc(0.24 * var(--light-mod))), inset -1.2px 0.8px 1px 0.8px rgba(var(--shadow), calc(0.12 * var(--shadow-mod))), inset 1.2px 1.2px 1px -0.8px rgba(var(--shadow), calc(0.12 * var(--shadow-mod))), inset 0 0 1px 2px rgba(var(--light), calc(0.5 * var(--light-mod))), inset 0 0px 3px 3px var(--button-content-color);
  }
}
@keyframes PlayAfterAnimation {
  50% {
    box-shadow: 0 0 16px -3px var(--button-content-color), inset -1.2px 0px 1px 0.8px rgba(var(--light), calc(0.24 * var(--light-mod))), inset 1.2px -1.2px 1px 0.8px rgba(var(--shadow), calc(0.12 * var(--shadow-mod))), inset 1.2px 1.2px 1px -0.8px rgba(var(--shadow), calc(0.12 * var(--shadow-mod))), inset 0 0 1px 2px rgba(var(--light), calc(0.5 * var(--light-mod))), inset 0 0px 3px 3px var(--button-content-color);
  }
}
@keyframes WaveMainAnimation {
  30% {
    opacity: 1;
  }
}
@keyframes WaveBeforeAnimation {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.8);
  }
}
.theme-switcher {
  position: absolute;
  z-index: 100;
  bottom: 20px;
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.theme-switcher li {
  position: relative;
}
.theme-switcher__label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 10px;
}
.theme-switcher__label::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.2);
  transition: transform 0.24s;
}
.theme-switcher__label::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.24);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.33s;
}
.theme-switcher__label:hover::before {
  transform: scale(1.8);
}
.theme-switcher__label:hover {
  cursor: pointer;
}
.theme-switcher__item {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
}
.theme-switcher__item:checked + .theme-switcher__label::before {
  transform: scale(1.8);
}
.theme-switcher__item:checked + .theme-switcher__label::after {
  transform: translate(-50%, -50%) scale(1.2);
}
.theme-switcher__item_color_light + .theme-switcher__label::before {
  background: #eee;
}
.theme-switcher__item_color_dark + .theme-switcher__label::before {
  background: #282828;
}
.theme-switcher__item_color_blue + .theme-switcher__label::before {
  background: #0002e6;
}
.theme-switcher__item_color_orange + .theme-switcher__label::before {
  background: #ff7b00;
}
.theme-switcher__item_color_studio + .theme-switcher__label::before {
  background: linear-gradient(130deg, #0415ff 20%, #b40000);
}
.theme-switcher__item_color_lazur + .theme-switcher__label::before {
  background: linear-gradient(130deg, #00fff2 20%, #9900ff);
}